  <div class="container">
    <div class="main-body">

          <!-- Breadcrumb
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        -->
          <!-- /Breadcrumb -->
        <!--
          <div class="content">
            <a class="header"> {{ student.personalInfo.fullName }} </a>

            <div class="meta" *ngIf=" student.personalInfo.adress !== undefined ">
              <span>Adress: {{ student.personalInfo.adress }} </span>
            </div>

            <div class="meta" *ngIf=" student.education !== undefined ">
              <span>Education: {{ student.education.university }}, </span>
              <span> {{ student.education.faculty }}, </span>
              <span> GPA: {{ student.education.gpa }} </span>
            </div>
            <div class="meta" *ngIf=" student.technologies !== undefined ">
              <span>Technologies: </span>
              <span *ngFor="let tech of student.technologies"> {{ tech }} </span>
            </div>
-->
          <!-- Profil -->
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://i.pinimg.com/564x/aa/3d/6a/aa3d6ad170aae0ac5bbf47e46b97eb63.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4  class="text">{{student.personalInfo.fullName}}</h4>
                      <p  class="text-secondary mb-1" *ngIf="student.about != undefined">{{student.about}}</p>
                      <p class="text-muted font-size-sm">{{student.personalInfo.adress}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Review</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Osnovne informacije, svg generisani iz https://feathericons.com/-->
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">
                           <span class="text-secondary"> Kontakt informacije</span>
                    </h6>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" *ngIf="student.email!=undefined">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00BFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                      <span id = "email" class="text-secondary " style="text-align: right"> {{student.email}}</span>
                    </h6>
                  </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                       *ngIf="student.portfolio!=undefined && student.portfolio.gitHub != undefined">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00BFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                      <span id = "github" class="text-secondary">{{student.portfolio.gitHub}}</span>
                    </h6>
                </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
                  *ngIf="student.portfolio!=undefined && student.portfolio.linkedin != undefined">
                    <h6 class="mb-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00BFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                      <span id="linkedin" class="text-secondary"> {{student.portfolio.linkedin}}</span>
                    </h6>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Obrazovanje -->

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <h4>Obrazovovanje</h4>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-secondary"> Fakultet </h6>
                    </div>
                    <div class="col-sm-9 text-secondary" *ngIf="student.education !=undefined">
                        {{student.education.faculty + ", " + student.education.university + ", " + student.education.gpa}}
                    </div>
                  </div>
                  <hr>

              </div>

            <!-- Rad -->
            <div class="col-md-13">
              <div class="card mb-3">
                <div class="card-body">
                  <h4>Experience</h4>

                  <div *ngFor="let exp of student.experience">
                    <hr>
                  <div class="row" >
                    <div class="col-sm-3">
                      <h6 class="mb-0 text-secondary"> {{exp.position}} </h6>

                    </div>

                    <div class="col-sm-9 text-secondary">
                        {{exp.company + ", " +  exp.length}}

                    </div>

                  </div>

                </div>
                </div>
              </div>



              <!-- Informacije vezane za tehnologije-->
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Technologies</i></h6>
                      <div *ngFor="let tech of student.technologies">
                      <small class="text-secondary">{{tech}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>

                    </div>
                    </div>
                  </div>
                </div>

                <!-- Ocene dobijene od strane firmi sa kojima je saradjivao-->
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"> Reviews</i></h6>

                      <div class="progress mb-3" style="height: 15px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%; text-align: left;" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 5 Star <i class="val"> 25 reviews</i></span> </div>
                    </div>
                    <div class="progress mb-3" style="height: 15px">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 29%; text-align: left;" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 4 star<i class="val">3 reviews</i></span> </div>
                    </div>
                    <div class="progress mb-3" style="height: 15px">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 70%; text-align: left;" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 3 star<i class="val">34 reviews</i></span> </div>
                    </div>
                    <div class="progress mb-3" style="height: 15px">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%; text-align: left;" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 2 star<i class="val">1 review</i></span> </div>
                    </div>
                    <div class="progress mb-3" style="height: 15px">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 40%; text-align: left;" aria-valuemin="0" aria-valuemax="100"> <span class="skill"><i class="fa fa-star"></i> 1 star<i class="val">10 reviews</i></span> </div>
                    </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- Dugme koje vidi samo korisik sa ulogom student -->
    <div class="container" id="content" #content>  
  <p>testtesttests</p>
        <!-- @ViewChild('content') content:ElementRef;   -->
      </div>
    <input type="button" value="Generate CV" class="btn btn-success" (click)="SavePDF()" >  
             