<div class="ui big right action left icon input">
  <i class="search icon"></i>
  <input type="text" placeholder="Search JobHunter...">

  <select class="ui compact selection dropdown">
    <option selected="" value="bg">Belgrade</option>
    <option value="ni">Nis</option>
    <option value="ns">Novi Sad</option>
    <option value="kg">Kragujevac</option>
  </select>

  <select class="ui compact selection dropdown">
    <option selected="" value="internship">Internship</option>
    <option value="junior">Junior</option>
    <option value="senior">Senior</option>
  </select>

  <select class="ui compact selection dropdown">
    <option selected="" value="3m"> &lt; 3 months</option>
    <option value="all">3 - 6 months</option>
    <option value="products">&gt; 6 months</option>
  </select>

  <button class="ui primary button" (click) = "onClick()">Search</button>
</div>

<p></p>

<div class="ui" *ngIf=showCompanies>
  <app-company-list></app-company-list>
</div>

