
<form class="form" [formGroup]="checkoutForm" (ngSubmit)="submitSearchForm()">
  <div class="ui big right action left icon input">
    <i class="search icon"></i>

    <input type="text" placeholder="Search JobHunter..." formControlName="searchString">
  
    <div class="ui compact labeled input">

      <span class="ui compact label">City:</span>
      <div class="form−group">
        <select class="ui compact selection dropdown" formControlName="adress">
          <option selected="" value="all" > --- </option>
          <option value="Beograd" >Beograd</option>
          <option value="Nis" >Nis</option>
          <option value="Novi Sad" >Novi Sad</option>
          <option value="Kragujevac" >Kragujevac</option>
        </select>
      </div>

      
      <span class="ui compact label">Experience:</span>
      <div class="form−group">
        <select class="ui compact selection dropdown" formControlName="positionSeniority">
          <option selected="" value="all" > --- </option>
          <option value="Internship">Internship</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
        </select>
      </div>

      <span class="ui compact label">Length:</span>
      <div class="form−group">
        <select class="ui compact selection dropdown" formControlName="length">
          <option selected="" value="all" > --- </option>
          <option value="lt 3"> &lt; 3 months</option>
          <option value="3-6">3 - 6 months</option>
          <option value="gt 6">&gt; 6 months</option>
        </select>
      </div>

    </div>

    <button class="ui primary button" >Search</button>
  </div>
</form>

<p></p>

<div class="ui" *ngIf=showCompanies>
  <app-company-list [query]="query"></app-company-list>
</div>

