<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://gitlab.com/matfpveb/projekti/2020-2021/05-JobHunter" class="font-weight-bold ml-1" target="_blank">MATF</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://gitlab.com/matfpveb/projekti/2020-2021/05-JobHunter" class="nav-link" target="_blank">MATF Job Hunter</a>
        </li>
        
        <li class="nav-item">
          <a href="#/interesting" class="nav-link" target="interesting">Interesting facts</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
