<div class="image">
  <img src='../../../assets/image.png' alt="Picture goes here"/>
</div>
<div class="content">
  <a class="header"> {{ student.personalInfo.fullName }} </a>
  <div class="meta" *ngIf=" student.personalInfo.adress !== undefined ">
    <span>Adress: {{ student.personalInfo.adress }} </span>
  </div>
  <div class="meta" *ngIf=" student.education !== undefined ">
    <span>Education: {{ student.education.university }}, </span>
    <span> {{ student.education.faculty }}, </span>
    <span> GPA: {{ student.education.gpa }} </span>
  </div>
  <div class="meta" *ngIf=" student.technologies !== undefined ">
    <span>Technologies: </span>
    <span *ngFor="let tech of student.technologies"> {{ tech }} </span>
  </div>
  <!-- <div class="meta">
    <span>Work experience: {{ student.personalInfo.name }} </span>
    <span>Company: {{ student.personalInfo.name }} </span>
    <span>Position: {{ student.personalInfo.name }} </span>
    <span>Length: {{ student.personalInfo.name }} </span>
  </div> -->
  <div class="description" *ngIf=" student.about !== undefined ">
    <p> {{ student.about }} </p>
  </div>
</div>
