<form class="ui form" (ngSubmit)="onRegisterClick()" [formGroup]="registerForm" *ngIf="showForm">

    <h1 class="ui h1"> Student information</h1>
    <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Name" formControlName="name">
              <div class="ui pointing red basic label " *ngIf="name!=null &&  name.touched && name.errors?.required">
                  Please enter name!
                </div>
                <div class="ui pointing red basic label " *ngIf="name != null && name.touched && name.invalid">
                  Invalid name!
                </div>
          </div>    
          
          <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input type="text" onmouseover="(this.type='date')" onmouseout="(this.type='text')" class="form-control" placeholder="Date of your birth" formControlName="date">
                <div class="ui pointing red basic label " *ngIf="date!=null &&  date.touched && date.errors?.required">
                    Please enter a date of birth!
                  </div>
                  <div class="ui pointing red basic label " *ngIf="date != null && date.touched && date.invalid">
                    Invalid date!
                  </div>
            </div>    
          
            <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email" formControlName="email">
                    </div>
                    <div class="ui pointing red basic label " *ngIf="email!=null &&  email.touched && email.errors?.required">
                      Please enter email!
                    </div>
                    <div class="ui pointing red basic label " *ngIf="email != null && email.touched && email.invalid">
                      Invalid email!
                    </div>  
                  </div>
              
                  <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input class="form-control" placeholder="Password" type="password" formControlName="password">
                        </div>
                  
                        <div class="ui pointing red basic label " *ngIf="password!=null &&  password.touched && password.errors?.required">
                          Please enter a password!
                        </div>
                        <div class="ui pointing red basic label " *ngIf="password != null && password.touched && password.invalid">
                          Invalid password!
                        </div>
                      </div>

</div>
<div class="text-center">
  <button type="submit" class="btn btn-primary mt-4" [disabled]="!registerForm.valid">Create account</button>
</div>
</form>

<div *ngIf="showLogin" class="row justify-content-center">
  <h1 class="ui h1">You registration was successful!</h1>

  <button class="btn btn-primary" onclick="window.location.href='#/login'"> Login </button>
  <!-- <app-login></app-login> -->
</div>

