

<div class="ui group" *ngIf="showSearch">

<button class="ui basic teal button" (click)="onRegisterClick()">Register</button>
<button class="ui active basic green button" (click) = "onLoginClick()">Login</button>
</div>

<div class="ui group" *ngIf="showSearch">
  <h1>Welcome to JobHunter</h1>
  <div class="ui container">
    <div class="ui input focus" style="width: 100%;">
      <input type="text" placeholder="Search JobHunter..." [value]="this.inputValue" (input)="onChangeInput($event)">
    </div>
    <br>
    <button class="ui primary button" (click) = "onClick()">Search</button>

  </div>
</div>

<div class="ui">
  <app-student-list></app-student-list>
</div>

<app-login *ngIf="showLogin"></app-login>
<app-company *ngIf="showRegister"></app-company>

