<div class="header bg-gradient-danger pb-3 pt-5 pt-md-8"></div>
<div id="richestPeople">
    <h6 id="richPeopleHeader">Top 3 richest people in the world:</h6>
    <br>
    <dl>
        <dt style="font-size: x-large;">1. Jeff Bezos</dt>
        <dd><ul>
            <br>
            <img src="../../assets/jeff_bezos.jpg" width="175" alt="jeff_bezos">
            <br><br>
            <li>Net worth: $188.5 bilion</li>
            <li>Source: Amazon</li>
        </ul></dd>

        <dt style="font-size: x-large;">2. Elon Musk</dt>
        <dd><ul>
            <br>
            <img src="../../assets/elon_musk.jpeg" width="150" alt="jeff_bezos">
            <br><br>
            <li>Net worth: $146.5 bilion</li>
            <li>Source: Tesla</li>
        </ul></dd>

        <dt style="font-size: x-large;">3. Bill Gates</dt>
        <dd><ul>
            <br>
            <img src="../../assets/bill_gates.jpg" width="150" alt="jeff_bezos">
            <br><br>
            <li >Net worth: $127.9 bilion</li>
            <li>Source: Microsoft</li>
        </ul></dd>
    </dl> 
</div>

<div id="facts">
    <h6 id="funFactsHeader">Fun facts:</h6>
    <br>
    <li>The first computer weighed more than 27 tons.</li>
    <li>The first computer mouse was made of wood.</li>
    <li>Some of the biggest computer brands started in garages.</li>
    <li>People blink less when they use computers.</li>
    <li>Hackers write about 6,000 new viruses each month.</li>
    <li>More than 80% of daily emails in the U.S. are spam.</li>
    <li>The parts for the modern Computer were first invented in 1833.</li>
    <li>The first gigabyte drive cost $40,000.</li>
    <li>MyDoom is the most expensive computer virus in history.</li>
    <li>MIT has computers that can detect fake smiles.</li>
    <li>Russia engineered a computer that ran on water.</li>
    <li>Computers might soon be able to tell what dogs think.</li>
</div>

<div id="news">
    <h6 id="newsHeader">Latest computer science news</h6>

    <div id="myData" style="width: 800px;"></div>        
    <script src="../../assets/newsapi.js">
    </script>

    <button class="btn btn-primary" onclick="getNews()">Get News!!!</button>
    <div id="myData" style="width: 600px;"></div>
</div>