<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Welcome to your profile page!</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="image" *ngIf="false">
      <img src='../../../assets/image.png' alt="Picture goes here"/>
    </div>

    <div class="content">
      <div *ngIf="true">
      <div class="meta" *ngIf=" student.personalInfo.adress !== undefined ">
        <span>Adress: {{ student.personalInfo.adress }} </span>
      </div>

      <div class="meta" *ngIf=" student.education !== undefined ">
        <span>Education: {{ student.education.university }}, </span>
        <span> {{ student.education.faculty }}, </span>
        <span> GPA: {{ student.education.gpa }} </span>
      </div>
      <div class="meta" *ngIf=" student.technologies !== undefined ">
        <span>Technologies: </span>
        <span *ngFor="let tech of student.technologies"> {{ tech }} </span>
      </div>
      <!-- <div class="meta">
        <span>Work experience: {{ student.personalInfo.name }} </span>
        <span>Company: {{ student.personalInfo.name }} </span>
        <span>Position: {{ student.personalInfo.name }} </span>
        <span>Length: {{ student.personalInfo.name }} </span>
      </div> -->
        <div class="description" *ngIf=" student.about !== undefined ">
          <p> {{ student.about }} </p>
        </div>
      </div>
      </div>
    <div>
      <app-student-profile [student]="student"></app-student-profile>
    </div>

  </div>
</div>
