<div class="image">
    <img src='../../../assets/image.png' alt="Picture goes here"/>
  </div>
  <div class="content">
    <a class="header"> {{ company.personalInfo.fullName }} </a>
    <div class="meta">
      <span> {{ company.personalInfo.adress }} </span>
    </div>
    <div>
      <h5 lass="header">Open positions: </h5>
      <p *ngFor="let position of company.positions"> <span>{{ position.positionName }}, </span> <span>{{ position.positionExp}}</span> </p>
    </div>
    <div class="meta">
      <p> {{ company.about }} </p>
    </div>
  </div>
  